<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Global Thermonuclear War</title>
  </head>

  <body>
    <div id="gtwGame">
      <ul>
        <li v-for="continent in continents">
          <ul>
            <li>
              {{ continent.name }}
            </li>
            <li>
              Belongs to: {{ continent.assignment || 'None' }}
            </li>
            <li>
              Declared weapons:
            </li>
          </ul>
          <button v-if="!continent.assignment" v-on:click="assign(continent, 1)">Player 1 Claim</button>
          <button v-if="!continent.assignment" v-on:click="assign(continent, 2)">Player 2 Claim</button>
          <br />
        </li>
      </ul>
      <ul>
        <li v-for="ocean in oceans">
          {{ ocean.name }}<br />
          Declared weapons:
        </li>
      </ul>
    </div>
    <div id="player1Box">
      <div v-show="turn === myNumber">
        Player 1 turn.
      </div>
    </div>
    <div id="player2Box">
      <div v-show="turn === myNumber">

      </div>
    </div>

  </body>

  <!-- Vue and site JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="rawGame.js"></script>


</html>
