<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Global Thermonuclear War</title>
  </head>

  <body>
    <div id="gtwGame">
      <h1 v-if="winConditions.yearsWithNoWeapons >= 3">No weapons on earth! Both Players Win! Game Over!</h1>
      <h1 v-if="players[0].declaredForces > players[1].declaredForces*2 && players[1].declaredForces > 5">Player 1 has overwhelming force! (2x the declared forces of Player 2) Player 1 Wins!</h1>
      <h1 v-if="players[0].declaredForces*2 < players[1].declaredForces && players[0].declaredForces > 5">Player 2 has overwhelming force! (2x the declared forces of Player 1) Player 2 Wins!</h1>
      <h1 v-if="allAssigned && !turn.war">It is "Peacetime" in the year: {{ year.year }}</h1>
      <h1 v-if="turn.war" style="color:red;">WAR! WAR! WAR! WAR!</h1>
      <h2 v-if="allAssigned">Player 1's declared forces: {{ players[0].declaredForces || 'None' }} --- Player 2's declared forces: {{ players[1].declaredForces || 'None' }}</h2>
      <ul>
        <li v-for="continent in continents">
          <ul>
            <li>
              {{ continent.name }}
            </li>
            <li>
              Belongs to: {{ continent.assignment || 'None' }}
            </li>
            <li>
              Current HP: {{ continent.hp }}
            </li>
            <li>
              Declared weapons:
              <span v-if="continent.weapons.bombers.declared > 0">
                Bombers-{{continent.weapons.bombers.declared}},
              </span>
              <span v-if="continent.weapons.icbms.declared > 0">
                ICBMs-{{continent.weapons.icbms.declared}}
              </span>
              <span v-if="continent.weapons.icbms.declared === 0 && continent.weapons.bombers.declared === 0">
                None
              </span>
            </li>
          </ul>
          <button v-if="!continent.assignment" v-on:click="assign(continent, 1)">Player 1 Claim</button>
          <button v-if="!continent.assignment" v-on:click="assign(continent, 2)">Player 2 Claim</button>
          <br />
        </li>
      </ul>
      <ul>
        <li v-for="ocean in oceans">
          {{ ocean.name }}<br />
          Declared weapons:
          <span v-if="ocean.subs.player1.declared === 0 && ocean.subs.player2.declared === 0">
            None
          </span>
          <span v-if="ocean.subs.player1.declared > 0">
            Player 1: {{ ocean.subs.player1.declared}}<br />
          </span>
          <span v-if="ocean.subs.player2.declared > 0">
            Player 2: {{ ocean.subs.player2.declared}}
          </span>
        </li>
      </ul>
      <h1 v-if="winConditions.yearsWithNoWeapons >= 3">No weapons on earth! Both Players Win! Game Over!</h1>
      <h1 v-if="players[0].declaredForces > players[1].declaredForces*2 && players[1].declaredForces > 5">Player 1 has overwhelming force! (2x the declared forces of Player 2) Player 1 Wins!</h1>
      <h1 v-if="players[0].declaredForces*2 < players[1].declaredForces && players[0].declaredForces > 5">Player 2 has overwhelming force! (2x the declared forces of Player 1) Player 2 Wins!</h1>
    </div>

    <div id="warGame">
      <div v-if="turn.war">
        <div v-if="turn.player === 1"> <!-- Player 1 war game box -->
          <button v-on:click="endTurn(1)">End turn</button>
          <h4>You can fire {{ 1 + (Math.floor(player1.rnd / 500)) - turn.shotsFired }} times this turn.</h4>
          <select v-model="launchFrom">
            <option disabled value="">Launch From</option>
            <option v-for="continent in player1.continents">
              {{ continent.name }}, ICBMs - {{ continent.weapons.icbms.total }}, Bombers - {{ continent.weapons.bombers.total }}
            </option>
            <option v-for="ocean in player1.oceans">
              {{ ocean.name }}, Subs - {{ ocean.subs.player1.total }}
            </option>
          </select>
          <select v-model="launchTo">
            <option disabled value="">Launch To</option>
            <option v-for="continent in player2.continents" v.bind:value="{name : continent.name}">
              {{ continent.name }}, Remaining HP - {{ continent.hp }}
            </option>
          </select>

          <button v-if="(1 + (Math.floor(player1.rnd / 500)) - turn.shotsFired) > 0" v-on:click="launch(1)">LAUNCH!</button>


        </div> <!-- End of Player 1 war game box -->

        <div v-if="turn.player === 2"> <!-- Player 2 war game box -->
          <button v-on:click="endTurn(2)">End turn</button>
          <h4>You can fire {{ 1 + (Math.floor(player2.rnd / 500)) - turn.shotsFired }} times this turn.</h4>
          <select v-model="launchFrom">
            <option disabled value="">Launch From</option>
            <option v-for="continent in player2.continents">
              {{ continent.name }}, ICBMs - {{ continent.weapons.icbms.total }}, Bombers - {{ continent.weapons.bombers.total }}
            </option>
            <option v-for="ocean in player2.oceans">
              {{ ocean.name }}, Subs - {{ ocean.subs.player2.total }}
            </option>
          </select>


          <select v-model="launchTo">
            <option disabled value="">Launch To</option>
            <option v-for="continent in player1.continents">
              {{ continent.name }}, Remaining HP - {{ continent.hp }}
            </option>
          </select>

          <button v-if="(1 + (Math.floor(player2.rnd / 500)) - turn.shotsFired) > 0" v-on:click="launch(2)">LAUNCH!</button>


        </div> <!-- End of Player 2 war game box -->
      </div> <!-- End of the main war container -->
    </div>

    <div id="player1Box">
      <div v-if="turn.player === myNumber && !turn.war">
        Player 1 turn. <button v-on:click="startTurn">Start turn</button> <button v-on:click="endTurn">End turn</button> <span v-if="year.year>1953"><button style="color:red;" v-on:click="warStart">DECLARE WAR</button></span>
        <div v-show="turnStart">
          <br />
          Current budget : {{ currentBudget }}<br />
          (any budget remaining at end of your turn will go towards R&D)<br />
          Current R&D damage bonus: +{{ Math.floor(me.rnd / 500)*5 }}
          <ul>
            <li v-for="continent in continents">
              {{ continent.name }}<br />
              Total Bombers: {{ continent.weapons.bombers.total }} - Maintinence cost: ${{ continent.weapons.bombers.total * 20 }}<br />
              Total ICBMs: {{ continent.weapons.icbms.total }} - Maintinence cost: ${{ continent.weapons.icbms.total * 10 }}<br />
              <button v-if="currentBudget > 50" v-on:click="place(continent,'bomber')">
                Place Bomber
              </button>
              <button v-if="currentBudget > 100" v-on:click="place(continent,'icbm')">
                Place ICBM
              </button>
              <button v-if="continent.weapons.bombers.total !== continent.weapons.bombers.declared" v-on:click="declare(continent,'bomber')">
                Declare Bomber
              </button>
              <button v-if="continent.weapons.icbms.total !== continent.weapons.icbms.declared" v-on:click="declare(continent,'icbm')">
                Declare ICBM
              </button>
              <button v-if="continent.weapons.bombers.total > 0" v-on:click="disarm(continent,'bomber')">
                Disarm Bomber
              </button>
              <button v-if="continent.weapons.icbms.total > 0" v-on:click="disarm(continent,'icbm')">
                Disarm ICBM
              </button>
            </li>
            <li v-for="ocean in oceans">
              {{ ocean.name }}<br />
              Total subs: {{ ocean.subs.player1.total }} - Maintinence cost: ${{ ocean.subs.player1.total * 20 }}<br />
              <button v-if="currentBudget > 200" v-on:click="placeSub(ocean)">
                Place Submarine
              </button>
              <button v-if="ocean.subs.player1.total !== ocean.subs.player1.declared" v-on:click="declareSub(ocean)">
                Declare Submarine
              </button>
              <button v-if="ocean.subs.player1.total > 0" v-on:click="disarmSub(continent)">
                Disarm Submarine
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="player2Box">
      <div v-if="turn.player === myNumber && !turn.war">
        Player 2 turn. <button v-on:click="startTurn">Start turn</button> <button v-on:click="endTurn">End turn</button> <span v-if="year.year>1953"><button style="color:red;" v-on:click="warStart">DECLARE WAR</button></span>
        <div v-show="turnStart">
          <br />
          Current budget : {{ currentBudget }}<br />
          (any budget remaining at end of your turn will go towards R&D)<br />
          Current R&D damage bonus : +{{ Math.floor(me.rnd / 500)*5 }}
          <ul>
            <li v-for="continent in continents">
              {{ continent.name }}<br />
              Total Bombers: {{ continent.weapons.bombers.total }} - Maintinence cost: ${{ continent.weapons.bombers.total * 20 }}<br />
              Total ICBMs: {{ continent.weapons.icbms.total }} - Maintinence cost: ${{ continent.weapons.icbms.total * 10 }}<br />
              <button v-if="currentBudget > 50" v-on:click="place(continent,'bomber')">
                Place Bomber
              </button>
              <button v-if="currentBudget > 100" v-on:click="place(continent,'icbm')">
                Place ICBM
              </button>
              <button v-if="continent.weapons.bombers.total !== continent.weapons.bombers.declared" v-on:click="declare(continent,'bomber')">
                Declare Bomber
              </button>
              <button v-if="continent.weapons.icbms.total !== continent.weapons.icbms.declared" v-on:click="declare(continent,'icbm')">
                Declare ICBM
              </button>
              <button v-if="continent.weapons.bombers.total > 0" v-on:click="disarm(continent,'bomber')">
                Disarm Bomber
              </button>
              <button v-if="continent.weapons.icbms.total > 0" v-on:click="disarm(continent,'icbm')">
                Disarm ICBM
              </button>
            </li>
            <li v-for="ocean in oceans">
              {{ ocean.name }}<br />
              Total subs: {{ ocean.subs.player1.total }} - Maintinence cost: ${{ ocean.subs.player2.total * 20 }}<br />
              <button v-if="currentBudget > 200" v-on:click="placeSub(ocean)">
                Place Submarine
              </button>
              <button v-if="ocean.subs.player2.total !== ocean.subs.player2.declared" v-on:click="declareSub(ocean)">
                Declare Submarine
              </button>
              <button v-if="ocean.subs.player2.total > 0" v-on:click="disarmSub(ocean)">
                Disarm Submarine
              </button>
            </li>
          </ul>
        </div>

      </div>
    </div>

  <footer>
    <br />
    <br />
    <br />
    <br />
    <br />
    This is a footer, y'all.
  </footer>
  </body>

  <!-- Vue and site JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="rawGame.js"></script>


</html>
