body {
  padding: 0px;
  margin: 0px;
  font-family: 'Press Start 2P', cursive;
  color: #dddddd;
}

h1 {
  color: #e22245;
  font-size: 36px;
}

h3 {
  color: #dddddd;
  font-size: 24px;
}

canvas {
  margin: 50px auto;
}

.game-header {
  padding: 20px;
  width: 65%;
  margin: auto;
  z-index: 3;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  height: 100%;
  margin-top: 30px;
}

.total-forces {
  padding: 20px;
  margin: auto;
  z-index: 3;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  height: 100%;
  margin-top: 30px;
}

.hudcontainer {
  width: 1920px;
  height: 25%;
  position: absolute;
  z-index: 1;
  display: none;
}

.newsholder {
  width: 1920px;
  height: 89%;
  z-index: 2;
  display: flex;
  /* background-color: rgba(0, 0, 0, 0.3); */
}

.playernews {
  margin: auto;
  z-index: 3;
  border: 2px solid white;
  /* margin: 10px; */
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

h5 {
  margin: 20px 0px 20px 40px;
}

h5, h6, li {
  font-size: 18px;
}

h6 {
  margin: 10px 0px 0px 40px;
}

ul {
  margin-top: 0px;
}

li {
  margin-left: 40px;
  list-style-type: none;
}

/* ======================
ticker
======================== */

* {
  box-sizing: border-box;
}

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-holder {
  position: fixed;
  /* bottom: 0; */
  width: 100%;
  overflow: hidden;
  height: 4rem;
  padding-left: 100%;
  box-sizing: content-box;
}

.ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 30s;
}

.tickeritem {
  display: inline-block;
  padding: 0 3rem;
  font-size: 2rem;
  color: red;
}
