*, html {
  border: 0;
  margin: 0px;
}

html {
  background-color: black;
}

.video-container {
 position: fixed;
 width: 100%;
 height: 100%;
 overflow: hidden;
 max-width: 100%;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

video {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

canvas {
  z-index:999;
}
